/* Google font poppines */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-clr: #1470af;
  --white-clr: #fff;
}

::selection {
  background-color: #93c3e351;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-clr);
  color: var(--white-clr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.container-lg {
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.8rem;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.8rem;
}

.container-fluid {
  width: 100%;
}

.section-number {
  font-size: 1.8rem;
  opacity: 0.8;
  font-weight: 300;
}
.section-heading {
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
}

section {
  padding: 7.5rem 0;
}

.emphasize {
  font-style: italic;
  font-weight: 500;
  color: #9cd1f5;
}
